# Ignore dataset files
dataset/
processed/
cicids2017_csvs/
unsw_nb15_csvs/
dataset_bank/


# Ignore results and model checkpoints
results_malzda/
results/
*.pt
*.png
*.json
*.txt

# Ignore Python cache and environment files
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.venv
env/
venv/
*.egg-info/
dist/
build/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore VS Code settings
.vscode/